@use "variables" as *;
@use "mixins" as *;




.quote-mark {
    position: absolute;
    top: -2.5rem;
    left: -1.5rem;
    font-size: 9rem;
    font-weight: 700;
    line-height: 1;
    z-index: 1;
    transition: all 0.25s ease;

}

.testimonial {
    font-size: 1rem;
    line-height: 1.6;
    margin: 0;
    position: relative;
    z-index: 2;
    text-align: left;
    transition: all 0.25s ease;

}

.author {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
    margin-top: 2rem;
    font-weight: 600;
    transition: all 0.25s ease;


    .line {
        flex-grow: 1;
        height: 1px;
        background-color: #3DCFB6;
        transition: all 0.25s ease;

    }

    .author_and_icons_wrapper {
        display: flex;
        justify-content: end;
        gap: 0.5rem;

        p {
            white-space: nowrap;
            transition: all 0.25s ease;
        }

        .author_icons_wrapper {
            display: flex;
            gap: 0.5rem;

            img {
                width: 25px;
                aspect-ratio: 1;
                cursor: pointer;
            }
        }
    }


}


// ------------------ RESPONSIVE ----------------
@media (max-width: 1080px) {

    .quote-mark {
        position: absolute;
        top: -1.5rem;
        left: -1.5rem;
        font-size: 7rem;
        font-weight: 700;
        line-height: 1;
        z-index: 1;
    }

    .testimonial {
        font-size: 16px;
        line-height: 1.6;
        margin: 0;
        position: unset;
        z-index: 2;
        text-align: left;
    }

    .author {
        display: block;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-top: 2rem;
        font-weight: 600;

        .line {
            flex-grow: 1;
            height: 1px;
            background-color: #3DCFB6;
            margin-right: 0;
        }


        .author_and_icons_wrapper {
            margin-top: 1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;

            p {
                white-space: wrap;
                font-size: 16px;
            }

            .author_icons_wrapper {
                img {
                    width: 25px;
                    aspect-ratio: 1;
                }
            }
        }
    }
}

@media (max-width: 480px) {

    .author {

        .author_and_icons_wrapper {
            margin-top: 1rem;
            display: flex;
            align-items: start;
            justify-content: start;
            flex-direction: column;

            p {
                white-space: wrap;
                font-size: 16px;
            }

            .author_icons_wrapper {

                img {
                    width: 25px;
                    aspect-ratio: 1;
                }
            }
        }
    }
}