@use 'variables' as *;
@use 'mixins' as *;

.skills_wrapper {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: padding-top 0.25s ease;
}

.skills_container {
    width: 95%;
    margin: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    transition: margin 0.25s ease, gap 0.25s ease;
}

.columns_wrapper_left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 1rem;
}

.columns_wrapper_right {
    width: 50%;
    display: flex;
    align-items: flex-end;
    gap: 1rem;
}

@keyframes floatUp {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-1rem);
    }

    100% {
        transform: translateY(0);
    }
}

.icon_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    //  transition: gap 0.25s ease;

    >div {
        flex: 0 0 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.2rem;
        // transition: gap 0.25s ease;

        >img {
            width: 50px;
            height: 50px;
            object-fit: contain;
            //  transition: width 0.25s ease, height 0.25s ease;

            &.animate {
                animation: floatUp 0.6s ease forwards;
            }
        }

        >p {
            text-align: center;
            // transition: transform 0.25s ease, color 0.25s ease;
        }
    }
}

.headline_container {}

.text_container {
    @include main_wrapper($background_wrapper_color, $border_wrapper_color);
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    padding: 1rem;


    >div {
        >h4 {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        >h4 .highlight {
            font-size: inherit;
            font-weight: inherit;

        }
    }
}

.columns_wrapper_left,
.columns_wrapper_right {
    transition: width 0.25s ease;
}

.text_container>div>p {
    transition: transform 0.25s ease, color 0.25s ease;
}

// ------------------ REPSONSIVE ----------------


@media (max-width: 990px) {

    .skills_wrapper {
        padding-top: 5rem;
    }

    .skills_container {
        margin: 0rem;
        flex-direction: column;
        gap: 2rem;
    }

    .columns_wrapper_right,
    .columns_wrapper_left {
        width: 100%;
    }

    .columns_wrapper_left {
        padding-bottom: 0rem;
    }

    .portrait_container {
        .image_portrait_mask {
            width: 100%;
        }

        &:hover .image_shadow_mask .image_shadow {
            opacity: 0;
        }
    }

    .icon_container {
        >div {
            flex: 0 0 100px;
        }

        align-content: flex-start;
        gap: 1rem;
        justify-content: center;
    }
}