.skills_wrapper {
    max-width: 1440px;
    height: 100dvh;
    // margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: aliceblue;

}

.skills_container {
    width: 95%;
    // background-color: rgb(6, 42, 74);
    height: 60%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5rem;
}



.columns_wrapper_right {
    // background-color: aqua;
    width: 50%;
    height: 65%;

    gap: 1rem;

    width: 100%;

    display: flex;
    align-items: end;


}

.icon_container {
    // background-color: aquamarine;
    width: 100%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;

    gap: 2rem;

    >div {
        // background-color: #3DCFB6;
        flex: 0 0 150px;


        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        >img {
            width: 50px;
            height: 50px;
            object-fit: contain;
        }

        >p {
            text-align: center;
            // font-size: 14px;
            // margin-top: 0.5rem;
        }
    }

}

.columns_wrapper_left {
    // background-color: rgb(48, 62, 62);
    width: 50%;
    // height: 100%;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;

    gap: 1rem;

}


.headline_container {
    >h4 {
        color: #3DCFB6;
    }
}

.text_container {
    border: 1px solid #3DCFB6;
    border-radius: 1rem;

    padding: 1rem;

    >h2 {
        color: #3DCFB6;
    }
}

.jump_marks {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.jump_mark_wrapper {
    border: 1px #D9D9D9 solid;
    border-radius: 2rem;
    padding: 0.5rem 1rem;

    >p {
        text-align: center;
    }
}