@use 'variables' as *;

@use 'mixins' as *;



.skills_wrapper {
    max-width: 1440px;
    // height: 100dvh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    // background: radial-gradient(ellipse 30% 30% at left center,
    //         rgba(34, 92, 81, 0.5) 0%,
    //         rgba(28, 28, 28, 1) 80%);
    background-color: rgb(30, 73, 111);
}

.skills_container {
    width: 95%;
    margin: 5rem 5rem;

    // background-color: rgb(6, 42, 74);
    // height: 60%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5rem;
}



.columns_wrapper_right {
    // background-color: aqua;
    width: 50%;
    // height: 65%;

    gap: 1rem;

    // width: 100%;

    display: flex;
    align-items: end;


}

.icon_container {
    // background-color: aquamarine;
    width: 100%;
    // height: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;

    gap: 2rem;

    >div {
        // background-color: #3DCFB6;
        flex: 0 0 150px;


        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.2rem;

        >img {
            width: 50px;
            height: 50px;
            object-fit: contain;
            transition: transform 0.3s ease;

            &:hover {
                transform: translateY(-1rem);
            }
        }

        >p {
            text-align: center;
            // font-size: 14px;
            // margin-top: 0.5rem;
        }
    }

}

.columns_wrapper_left {
    // background-color: rgb(48, 62, 62);
    width: 50%;
    // height: 100%;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;

    gap: 1rem;

}



.headline_container {}

.text_container {
    @include main_wrapper($background_wrapper_color, $border_wrapper_color);
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1rem;

    >div {
        >h4 {
            .highlight {
                font-size: inherit;
                font-weight: inherit;
            }
        }
    }
}