<section class="testi_wrapper">
    <div class="testi_container">
        <div class="headline_wrapper">
            <h5>What my colleagues say about me</h5>
            <h2>Testimonials</h2>
        </div>

        <div class="carousell_wrapper" [class.transitioning]="isTransitioning" [style.transform]="getTransform()">
            @for (testimonial of testimonials; track $index) {
            <div class="carousell_container" [class.active]="$index === currentIndex"
                [class.prev]="$index === (currentIndex - 1 + testimonials.length) % testimonials.length"
                [class.next]="$index === (currentIndex + 1) % testimonials.length">>
                <app-single-testimonial [single_testimonial]="testimonial"></app-single-testimonial>
            </div>
            }
        </div>


        <div class="caroussel_navigation">
            <p class="arrow" (click)="prev()">&larr;</p>
            <div class="dots">
                @for (navigation of testimonials; track $index) {
                <span class="dot" [class.active]="$index === currentIndex"></span>
                }
            </div>
            <p class="arrow" (click)="next()">&rarr;</p>
        </div>
    </div>
    <div class="image_shadow">
    </div>
</section>