.about_wrapper {
    max-width: 1440px;
    height: 100dvh;
    // margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: aliceblue;

}

.about_container {
    width: 95%;
    // background-color: rgb(6, 42, 74);
    height: 60%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5rem;
}



.columns_wrapper_left {
    // background-color: aqua;
    width: 50%;
    height: 65%;

    display: flex;
    align-items: start;
    overflow: hidden;

    border-radius: 1rem;
}

.portrait_container {
    >img {
        width: 100%;
    }
}

.columns_wrapper_right {
    // background-color: rgb(48, 62, 62);
    width: 50%;
    // height: 100%;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;

    gap: 1rem;

}

// .wrapper_filler_right {
//     background-color: bisque;
//     height: 200px;
//     // flex-grow: 1;
// }

.headline_container {
    >h4 {
        color: #3DCFB6;
    }
}

.text_container {
    border: 1px solid #3DCFB6;
    border-radius: 1rem;

    padding: 1rem;

    >h2 {
        color: #3DCFB6;
    }
}