@use 'variables' as *;

@use 'mixins' as *;

.about_wrapper {
    max-width: 1440px;
    max-height: 1280px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(186, 91, 74);
    // overflow: scroll;
    position: relative;
}

.about_container {
    margin: 5rem 5rem;
    width: 95%;
    // height: 90%;
    // background-color: rgb(6, 42, 74);

    // overflow: hidden;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}





.columns_wrapper_left {
    // background-color: aqua;
    width: 50%;
    // height: 65%;

    display: flex;
    align-items: start;
    overflow: hidden;

    border-radius: 1rem;

}

.portrait_container {
    height: 500px;
    overflow: hidden;
    border-radius: 1rem;

    >img {
        width: 100%;
        // aspect-ratio: 1 1;
        border-radius: 1rem;




    }
}

.columns_wrapper_right {
    // background-color: rgb(48, 62, 62);
    width: 50%;
    // height: 100%;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;

    gap: 1rem;



}

// .wrapper_filler_right {
//     background-color: bisque;
//     height: 200px;
//     // flex-grow: 1;
// }

.headline_container {
    >h4 {
        color: #3DCFB6;
    }
}

.text_container {
    @include main_wrapper($background_wrapper_color, $border_wrapper_color);

    padding: 1rem;

    >p {
      
    }

    >h2 {
        color: #3DCFB6;
    }

    >div {
        display: flex;
        gap: 0.5rem;

        >img {
            height: 30px;
        }

        >p {
        }
    }
}