<section class="featured_wrapper">
    <div class="featured_container">
        <div class="headline_wrapper">
            <h4>portfolio</h4>
            @for (project of projects; track $index;) {
            <h2>{{project.name}}</h2>
            <p>
                {{project.description}}
            </p>}
        </div>

        <div class="featured_vertical_wrapper">
            <!-- Table -->
            <table>
                @for (project of projects; track $index;) {
                <tr @if (mouseenter)="$index">
                    <td data-aos="fade-right">{{ project.name }}</td>
                    <td data-aos="fade-left">
                        @for (tech of project.tech; track $index) {
                        <span>{{ tech.tech }}</span>
                        }
                    </td>
                </tr>
                }
            </table>

            <!-- Images -->
            <div class="featured_vertical_container">
                @for (project of projects; track $index) {
                <div class="image_wrapper" [class.active]="hoveredIndex === $index"
                    [ngStyle]="{ top: getImageTop($index) }">
                    <div class="image_shadow"></div>
                    <img [src]="project.image" alt="{{ project.name }}" />
                </div>
                }
            </div>
        </div>
    </div>


</section>
@for (project of projects; track project; let index = $index) {
<app-project-01 [project]="project" [index]="index"></app-project-01>
}